<div class="min-h-screen w-full sm:px-10 lg:grid lg:auto-rows-max lg:grid-cols-3 sm:py-10 lg:gap-8">
    <section class="p-4 w-full sm:max-w-sm sm:px-0">
        <h1 class="text-base font-semibold dark:text-white">Lista de precios</h1>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400 col-auto">
            Accesorios y acticulos varios.
          </p>
    </section>
    
    <div class="overflow-auto sm:rounded-xl shadow-md border border-gray-300 dark:border-slate-600 sm:col-span-2">
        <table class="table-auto w-full px-3 text-sm text-left dark:text-white divide-y divide-gray-300 dark:divide-slate-700">
            <thead class="bg-gray-50 dark:bg-slate-800 font-semibold border-b-2 border-gray-200 dark:border-slate-700">
                <tr>
                    <th class="p-3 sm:pl-6 font-semibold tracking-wide">Producto</th>
                    <th class="p-3 sm:py-4 font-semibold tracking-wide w-min">Precio</th>
                    <th class="p-3 sm:pr-6 font-semibold tracking-wide w-min">Categoria</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of productsList" class="bg-white dark:bg-slate-800">
                <tr class="font-normal hover:bg-gray-200 dark:hover:bg-slate-700">
                    <td class="p-3 sm:pl-6">{{item.product}}</td>
                    <td class="p-3 sm:py-4">${{item.price}}</td>
                    <td class="p-3 sm:pr-6 text-gray-500 dark:text-gray-300">{{item.category}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>