<nav>
  <div class="fixed top-0 flex justify-between items-center border-b backdrop-blur dark:border-slate-800 h-16 w-full bg-white dark:bg-slate-900/75 px-3 sm:px-10 z-20">
    <!-- Navbar estatico -->
    <div class="flex justify-center items-center">
      <button (click)="btnNavbar()" class="sm:hidden text-3xl mr-3  text-neutral-400 h-10 w-10 rounded-md">
        <i [ngClass]="['uil', icon] "></i>
      </button>
      <img class="h-8 w-auto" src="../../../../assets/bluesky-isologo.svg" alt="Bluesky">
    </div>

    <!-- Menu destop -->
    <div class="h-full w-auto hidden sm:flex items-center">
      <li [routerLink]="item.router" *ngFor="let item of menuOptions" class="list-none h-full w-auto flex px-5">
        <span class="h-full flex items-center box-content text-base text-neutral-800 dark:text-white font-medium hover:border-b-2 hover:border-primary-500 dark:hover:bg-primary-700/75 cursor-pointer">{{item.name}}</span>   
      </li>
    </div>

    <button (click)="toggleDarkMode()" type="button" class="text-2xl font-medium w-10 h-10 bg-slate-200 dark:bg-slate-800 rounded-full">
      <i *ngIf="!isDarkMode" class="uil uil-sun text-black flex justify-center items-center"></i>
      <i *ngIf="isDarkMode" class="uil uil-moon dark:text-white flex justify-center items-center"></i>
    </button>
  </div>
  
  <!-- Menu Responsive-->
  <div class="menu-responsive absolute top-16 -translate-y-full h-screen w-full p-5 bg-white dark:bg-slate-800 opacity-0 rounded-b-md transition-all ease-in-out duration-500">
    <li [routerLink]="item.router" *ngFor="let item of menuOptions" class="list-none py-1">
        <span (click)="btnNavbar()" class="block text-black dark:text-white rounded-md px-3 py-2 text-base font-medium hover:bg-gray-200 dark:hover:bg-gray-600">{{item.name}}</span>
    </li>
  </div>

</nav> 