<div class="h-auto w-full sm:px-10 lg:grid lg:auto-rows-max lg:grid-cols-3 sm:py-10 lg:gap-8">
  <section class="p-4 w-full sm:max-w-sm">
    <h1 class="text-base font-semibold dark:text-white">
      Facturacion
    </h1>
    <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400 col-auto">
      This information will be displayed publicly so be careful what you share. Servicios tecnicos y reparaciones.
    </p>
  </section>
  
  <form class="w-full p-4 h-auto sm:p-8 bg-white dark:bg-slate-800 sm:rounded-xl sm:border dark:border-slate-700 sm:col-span-2 pb-10">
    <div class="grid grid-rows-1 sm:grid-cols-4 sm:gap-x-3 gap-y-8">
      <div class="sm:col-span-full">
        <label class=" text-gray-900 dark:text-white leading-6 font-medium text-sm">Nombre y Apellido</label>
        <div class="mt-2 rounded-md shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-500 sm:max-w-md">
          <input type="text" class="block w-full border-0 py-1.5 pl-2 bg-transparent text-gray-900 dark:text-white placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 focus:outline-none" placeholder="Cosme Fulanito">
        </div>
      </div>
      
      <div class="sm:col-span-2 sm:w-3/4">
        <label class="text-gray-900 dark:text-white leading-6 font-medium text-sm">Numero de contacto</label>
        <div class="mt-2 rounded-md shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-500 sm:max-w-md">
          <input type="text" class="block w-full border-0 py-1.5 pl-2 bg-transparent text-gray-900 dark:text-white placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 focus:outline-none" placeholder="381 8765432">
        </div>
      </div>
    
      <div class="sm:col-span-2 sm:w-3/4">
        <label class="text-gray-900 dark:text-white leading-6 font-medium text-sm">Equipo a reparar</label>
        <div class="mt-2 rounded-md shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-500 sm:max-w-md">
          <input type="text" class="block w-full border-0 py-1.5 pl-2 bg-transparent text-gray-900 dark:text-white placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 focus:outline-none" placeholder="Samsung S20">
        </div>
      </div>
          
      <div class="sm:col-span-2">
        <label class="text-gray-900 dark:text-white leading-6 font-medium text-sm">Detalle de la falla</label>
        <textarea rows="3" class="block text-gray-900 dark:text-white bg-transparent dark:border-gray-500 mt-2 w-full py-1.5 pl-2 rounded-md shadow-sm border border-gray-300 sm:border-0 ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus:ring-2 focus:ring-inset focus:ring-primary-500 focus:outline-none sm:text-sm sm:leading-6 sm:max-w-md"></textarea>
      </div>

      <div class="sm:col-span-2">
        <label class="text-gray-900 dark:text-white leading-6 font-medium text-sm">Reporte de revisión</label>
        <textarea rows="3" class="block text-gray-900 dark:text-white bg-transparent dark:border-gray-500 mt-2 w-full py-1.5 pl-2 rounded-md shadow-sm border border-gray-300 sm:border-0 ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus:ring-2 focus:ring-inset focus:ring-primary-500 focus:outline-none sm:text-sm sm:leading-6 sm:max-w-md"></textarea>
      </div>
        
      <div class="sm:col-span-2 sm:w-3/4">
        <label class="text-gray-900 dark:text-white leading-6 font-medium text-sm">Forma de pago</label>
        <select class="mt-2 w-full  py-1.5 pl-2 bg-transparent text-gray-900 dark:text-white rounded-md shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6 focus:outline-none">
          <option class="text-black">Efectivo</option>
          <option class="text-black">Tarjeta</option>
        </select>
      </div>
          
      <div class="sm:col-span-2 sm:w-3/4">
        <label class="text-gray-900 dark:text-white leading-6 font-medium text-sm">Total</label>
        <div class="mt-2 py-1.5 pl-2 flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-500">
          <span class="text-gray-400 pr-1.5">$</span>
          <input type="number" class="block w-full border-0  bg-transparent text-gray-900 dark:text-white placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 focus:outline-none" placeholder="30.000">
        </div>
      </div>  
    
    </div>

    <div class="mt-10 flex flex-col-reverse sm:flex-row justify-end items-center">
      <button type="button" class="px-3 py-2 dark:text-white">Cancelar</button>
      <button type="button" (click)="printForm()" class=" w-full sm:w-auto px-3 py-2 sm:ml-3 rounded-md bg-primary-600 hover:bg-primary-500 text-white">Imprimir</button>
    </div>
  </form>

  <!-- Alert  -->
  <div name="alert-container" class="fixed right-5 top-24 opacity-0 translate-x-full transition-all ease-in-out duration-500 rounded-lg">
    <div class="w-80 h-14 flex justify-between items-center p-4 ">
      <div class="flex items-center">
        <!-- Icon -->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 ">
          <path id="pathIcon" fill-rule="evenodd" clip-rule="evenodd" />
        </svg>
        <span class="ml-1 text-gray-900">Se imprimió correctamente</span>
      </div>

      <button type="button" (click)="alertButton()" class="w-8 h-8 flex justify-center items-center rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
        </svg>
      </button>
      
    </div>
  </div>
  
</div>